*{
	box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.responsive{
	width: 100%;
	height: auto;
}

.body{
	background: #F6F6F6;
	font-family: 'Rubik', sans-serif;
}

/*navbar start*/

#logo-image{
	/*background: url('../images/Logo.png') no-repeat; */
	width: 120px;
	margin: 10px 15px 10px 0px;

}

 .nav-list li{
	float: left;
	height: 40px;
	/*text-align: center;*/
	padding-top: 8px;
	padding-bottom: 10px;
}

.nav-list{
    list-style-type: none;
    text-align: center;
}
a{
	text-align: center;
	text-decoration: none;
	color: black;
}
.nav-list a:hover{
	font-size: 1.2em;
	color: #F53838;
}

#signinButton{
	font-weight: bold;
}
#signupButton{
	border: 2px solid red;
	border-radius: 20px;
}

/*navbar end*/

/*first-second tile starts*/
.second{
	padding-left:20px ;
}
.big-font{
	font-size: 60px;
	font-weight: bolder;
	line-height: 100px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.mid-font{
	font-size: 35px;
	font-weight: 700;
	line-height: 50px;
}
#getstarted{
	margin: 50px auto;
}
.square-button{
	background-color: #F53838;
	color: white;
	padding: 25px 40px;
	width: 100%;
	box-shadow: 0 8px 40px 2px #F53838;
  border-radius: 10px;

}
#features{
	list-style-type: none;
	padding-left: 0;
}
#features li{
	margin: 40px 40px 40px 0;

}
#features img{
	margin-right: 15px;
}
/*first-second tile ends*/


/*three column tile start*/
.three-col-tile{
	padding: 40px;
	min-height: 210px;
	border-radius: 10px;
	box-shadow: 0 0px 30px 3px lightslategrey;
	margin: 75px auto;
}
.subscribe-tile{
	padding: 40px;
	min-height: 210px;
	border-radius: 10px;
	box-shadow: 0 0px 30px 3px lightslategrey;
	background-color: white;
	margin-top: 50px;
	position: relative;
}
.statistics-tile{
	padding: 10px 60px 10px 60px ;
}

.statistics-tile-heading{
	font-weight: bold;
	font-size: 1.1rem;
}
.statistics-tile-icon{
	margin-right: 20px;
	margin-top: 30px;
	max-width: 100px;
}
/*three column tile ends*/


/*heading and para tile starts*/
.align-middle{
	text-align: center;
}
/*heading and para tile ends*/

/*jumbotron*/
.jumbotron{
	margin: 100px auto;
}
/*mask group tiles*/
.mask-group{
	margin-right: 3%;
	width: 100%;
	max-height: 100px;
	border-radius: 7px;
	box-shadow: 0 0 35px 3px lightslategrey;
	margin-bottom: 50px;
}
#discord{
	padding-top: 8px;
	background-color: rebeccapurple;
}
#amazon{
	background-color: darkorange;
}
#spotify{
	padding-top: 10px;
	background-color: green;
}
.mask-group:hover{
	border-color: darkslategray;
}

/*plan tile starts*/
#plan-tile{
	border: 2px solid lightgray;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
	min-height: 820px;
}
.plan-tile-img{
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
}
#plan-tile ul{
	list-style-type: none;
	padding-left: 0px;

}
#plan-tile li{
	margin: 20px auto;
}
.plan-tile-heading{
	text-align: center;
	font-weight: bolder;
	font-size: 1.1rem;
}

#green-tick{
	width:20px; margin-right:10px;
}
.a{
	position: absolute;
	bottom: 40px;
	margin-left: 50px;
}
.select-button{
	width: 100%;
	width: 141px;
	height: 40px;
	border: 2px solid #F53838;
	border-radius: 20px;
  color: #F53838;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  /*margin: 4px 2px;*/
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
.select-button:hover{
	background-color: #F53838;
	color: white;
	box-shadow: 0 5px 20px 2px lightgray;
}
.select-button:active{
	font-size: 1.1rem;
	padding: 5px;
}
#rate{
	font-weight: bolder;
	font-size: 1.1rem;
}
/*plan tile ends*/

/*slider stylings start*/
#review-container{
	margin-top:50px; 
	width:88%;
	margin-bottom: 50px;
	max-width: 1200px;
}
/*.your-class{
	box-shadow: 0 0px 30px 3px lightslategrey;
	border-radius: 20px;
}*/
.review-tile{
		width: 100%;
		min-height: 220px;
		border: 2px solid lightgray;
		border-radius: 10px;
		margin: 40px;
		position: relative;
	}
	.review-tile:hover,.review-tile:focus{
		border-color: #F53838;
	}
	.profile-pic{
		margin: 15px;
	}
	#country{
		color:gray;
		margin-top: -5px;
		font-size: 14px;
	}
	.rating{
		text-align: center;
		
	}
	#star{
		width:20px; 
		display: inline;
		margin-left: 20px;
		margin-top: 2px;
	}
	.review-para{
		margin-left: 20px;
		margin-right: 20px;
		overflow: hidden;
	}
	.slick-prev,.slick-next{
		position: absolute;
		top: 50%;
    /*background-color: transparent !important;*/
    border: 2px solid red;
    border-radius: 30px;
    color: transparent !important;
    width: 60px;
    height: 60px;
     cursor: pointer;
  	-webkit-transform: translate(0, -50%);
  	-ms-transform: translate(0, -50%);
  	transform: translate(0, -50%);

	}
	.slick-loading .slick-list
	{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
	}
	.slick-slide{
		min-height: 240px !important;
	}
	.slick-slide img{
		display: inline;
	}

/*slider stylings ends*/

/*footer strats*/
.panel{
	margin-top: -100px;
	padding: 20px;
	background: #F8F8F8;
	padding-top: 140px;
}
.follow-us{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: red;
	margin-right: 20px;
	margin-bottom: 20px;
}
#copy-right{
	color: gray;
}
.panel-right p{
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: 30px;
}
.panel-right a{
	float: left;
	color: black;
	clear: both;
	margin-bottom: 20px;
}


/*footer ends*/
.gitrepo a{
	color: black;
}
.gitrepo a:hover{
	color: #F53838;
}
/*large devices only*/
@media (min-width: 1200px){
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
	.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
		float: left;
		
	}
	.col-lg-1{
		width: 8.33%;
	}
	.col-lg-2{
		width: 16.66%;
	}

	.col-lg-3{
		width: 25%;
	}
	.col-lg-4{
		width: 33%;
	}
	
	.col-lg-5{
		width: 41.66%;
	}
	.col-lg-6{
		width: 50%;
	}
	
	.col-lg-7{
		width: 58.33%;
	}
	.col-lg-8{
		width: 66.66%;
	}
	
	.col-lg-9{
		width: 74.99%;
	}
	.col-lg-10{
		width: 83.33%;
	}
	
	.col-lg-11{
		width: 91.66%;
	}
	.col-lg-12{
		width: 100%;
	}
	.visible-lg{
    	display: block !important;
  	}
  	.container{
			width: 1200px;
			margin-right: auto;
			margin-left: auto;
		}
		#plan-tile{
			min-height: 770px;
			min-width: 236px;
		}
		.statistics-tile:nth-child(2){
				border-right: 2px solid lightgrey;
				border-left: 2px solid lightgrey;
		}
		.rating{
			float:right; 
		position: absolute; 
			top: 10px; 
			right: 10px;
		}

		.panel-left{
			margin-right: 17%;
		}
}

/*medium and small devices*/
@media (max-width: 1199px) and (min-width: 768px){
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
	.col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
		float: left;
	}
	.col-md-1{
		width: 8.33%;
	}
	.col-md-2{
		width: 16.66%;
	}

	.col-md-3{
		width: 25%;
	}

	.col-md-4{
		width: 33%;
	}
	
	.col-md-5{
		width: 41.66%;
	}
	.col-md-6{
		width: 50%;
	}
	
	.col-md-7{
		width: 58.33%;
	}
	.col-md-8{
		width: 66.66%;
	}
	
	.col-md-9{
		width: 74.99%;
	}
	.col-md-10{
		width: 83.33%;
	}
	
	.col-md-11{
		width: 91.66%;
	}
	.col-md-12{
		width: 100%;
	}
	.visible-md{
    	display: block !important;
  	}
  .container{
  	max-width: 1000px;
			margin-right: auto;
			margin-left: auto;
		}
		.statistics-tile:nth-child(2){
				border-right: 2px solid lightgrey;
				border-left: 2px solid lightgrey;
		}
		#plan-tile-list{
			margin-left: 40px;
		}

}

/*extra small devices*/
@media (max-width: 767px){
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7,
	.col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
		float: left;
	}
	.col-xs-1{
		width: 8.33%;
	}
	.col-xs-2{
		width: 16.66%;
	}

	.col-xs-3{
		width: 25%;
	}

	.col-xs-4{
		width: 33%;
	}
	
	.col-xs-5{
		width: 41.66%;
	}
	.col-xs-6{
		width: 50%;
	}
	
	.col-xs-7{
		width: 58.33%;
	}
	.col-xs-8{
		width: 66.66%;
	}
	
	.col-xs-9{
		width: 74.99%;
	}
	.col-xs-10{
		width: 83.33%;
	}
	
	.col-xs-11{
		width: 91.66%;
	}
	.col-xs-12{
		width: 100%;
	}
	.visible-xs{
    	display: block !important;
  	}
    .container{
  		max-width: 767px;
  		min-width: 100%;
			margin-right: auto;
			margin-left: auto;
		}
		.big-font{
			font-size: 40px;
		}
		.statistics-tile-icon{
			margin-left: auto;
			margin-right: auto;
		}
		.three-col-tile{
			text-align: center;
		}

		.statistics-tile:nth-child(2){
				border-top: 2px solid lightgrey;
				border-bottom: 2px solid lightgrey;
		}
		#plan-tile-list{
			margin-left: 40px;
		}
}
